---
// design.astro
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import "../styles/ux.css";

const base = import.meta.env.BASE_URL;
---

<!doctype html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio Lenie Debruyne</title>
    <link rel="icon" type="image/svg+xml" href={`${base}images/favicon.svg`} />
    <link rel="
          stylesheet" href="styles.css" />

    <!-- Cormorant Garamond -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap"
      rel="stylesheet"
    />

    <!-- Noto Sans -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <!-- Navigation -->
    <Navigation />

    <div class="content--page">
      <!-- header -->
      <section class="design--header">
        <h1 class="design--header-title">
          <div class="design--header-title-words">
            <span class="visual-word">Ux/Ui</span>
            <span class="designer-word">DESIGNER</span>
          </div>

          <span class="portfolio-word"
            >PORTFO<span class="green-l">L</span>IO</span
          >
        </h1>
        <div class="design--header-text">
          <p>
            <em>I make user friendly designs that users love and remember.</em>
          </p>
          <p>
            I am a <b>UX/UI designer</b> driven by a passion for creating <b
              >meaningful and intuitive digital experiences</b
            >. I’ve learned to transform creative ideas into <b
              >functional, user-centered products</b
            > that not only work well, but also look <b>visually refined</b>.
          </p>

          <p>
            What motivates me most is <b>interaction with people</b>. Every
            conversation, every bit of feedback offers a <b>new perspective</b>,
            helping me <b>improve designs</b> so they truly meet the needs of real
            users. For me, user experience isn’t just part of the process, <b
              >it is the process</b
            >.
          </p>

          <p>
            I love <b>challenging myself</b> to grow, learning from projects, refining
            my approach, and continuously evolving both <b
              >as a designer and as a person</b
            >.
          </p>
        </div>
        <div class="design--header-cat-wrapper">
          <div class="design--header-cat-bubble">
            <p>Welcome to the <br /> Ux / Ui page.</p>
          </div>
          <img src={`${base}images/cat.png`} alt="cat with text" width="192" />
          <div class="design--header-cat-line"></div>
        </div>
      </section>

      <!-- work carousel -->
      <section class="work--carousel start-left">
        <!-- Card 1: Umwelt -->
        <div class="card brandboard">
          <div class="card--image-container">
            <img src={`${base}images/umwelt.png`} alt="Umwelt" />
          </div>
          <div class="card--content">
            <h2>Umwelt</h2>
            <p>
              For this assignment, I explored the concept of umwelt. I chose to
              research crows, and with what I learned, I created a project that
              benefits both humans and crows. Curious how it turned out?
            </p>
            <a href="#umwelt" class="card--button">View more</a>
          </div>
        </div>

        <!-- Card 2: Agency Monkeyshot -->
        <div class="card brandboard">
          <div class="card--image-container">
            <img src={`${base}images/Monkeyshot.png`} alt="Monkeyshot" />
          </div>
          <div class="card--content">
            <h2>Agency Monkeyshot</h2>
            <p>
              I redesigned the digital experience for newcomers in Antwerp,
              based on user research with Atlas. Curious how I turned insights
              into a human-centered solution?
            </p>
            <a href="#monkeyshot" href="#diamond" class="card--button"
              >View more</a
            >
          </div>
        </div>

        <!-- Card 3:Intesellar Starship -->
        <div class="card Moodboard">
          <div class="card--image-container">
            <img src={`${base}images/Starship.png`} alt="Starship" />
          </div>
          <div class="card--content">
            <h2>Intesellar Starship</h2>
            <p>
              I designed a future-focused concept for life aboard a generation
              starship, blending digital and physical elements to support
              well-being. Curious how it turned out?
            </p>
            <a href="#starship" href="#diamond" class="card--button"
              >View more</a
            >
          </div>
        </div>

        <!-- Card 4: / -->
        <div class="card Styleboard">
          <div class="card--image-container">
            <img src={`${base}images/Comming-soon.png`} alt="Styleboard" />
          </div>
          <div class="card--content">
            <h2>comming soon</h2>
            <p>
              This is a project I will be working on in the future. It will
              showcase my passion projects and personal design explorations,
              where I can push the boundaries of creativity and innovation.
            </p>
            <a href="#passion" class="card--button">Stay tuned</a>
          </div>
        </div>
      </section>

      <div class="strip--introduce">
        <div class="strip-inner--introduce">
          <span class="repeat">Let me show you some of my work</span>
          <span class="repeat">Let me show you some of my work</span>
          <span class="repeat">Let me show you some of my work</span>
          <span class="repeat">Let me show you some of my work</span>
          <span class="repeat">Let me show you some of my work</span>
          <span class="repeat">Let me show you some of my work</span>
          <span class="repeat">Let me show you some of my work</span>
          <span class="repeat">Let me show you some of my work</span>

          <!-- Herhaling -->
          <span class="repeat">Let me show you some of my work</span>
          <span class="repeat">Let me show you some of my work</span>
          <span class="repeat">Let me show you some of my work</span>
          <span class="repeat">Let me show you some of my work</span>
          <span class="repeat">Let me show you some of my work</span>
          <span class="repeat">Let me show you some of my work</span>
          <span class="repeat">Let me show you some of my work</span>
          <span class="repeat">Let me show you some of my work</span>
        </div>
      </div>

      <!-- Coming Soon -->
      <section class="coming-soon">
        <div class="coming-box">
          <h1 class="coming-soon--banner">COMING SOON <br /> COMING SOON</h1>
          <div class="project-box">
            <h4>Passion <br /> Project</h4>
            <p>2025</p>
          </div>
        </div>
      </section>

      <h2 class="double_diamond--title">Double diamond</h2>

      <section class="dubble-diamond">
        <div class="dubble-diamond--text">
          <p>
            In our second year of the Experience Design course, we worked with
            the
            <b>Double Diamond framework</b>.
          </p>

          <p>
            Our first assignment was in collaboration with the agency
            Monkeyshot, where we focused on researching how to help immigrants
            feel more at home in Belgium, and explored <b
              >how their social circles influence that experience</b
            >. Fore this assignment we focused on the <b
              >first half of the Double Diamond</b
            >.
          </p>

          <p>
            The second assignment was more focused on the <b
              >second half of the Double Diamond</b
            > (ideation and prototyping), though I <b
              >occasionally reused methods from the discovery phase</b
            >. As you can imagine, these projects involved a <b
              >wide range of UX techniques</b
            >. That's why this page offers a <b
              >concise summary of each project</b
            >.
          </p>

          <p>
            Interested in the full journey? Click "View more" to visit the
            Behance page, where the <b> complete process is documented</b> in detail.
          </p>
        </div>

        <div class="dubble-diamond--projects"></div>
      </section>

      <section class="work--carousel" id="project-pair">
        <!-- Card 1: Agency Monkeyshot -->
        <div class="card brandboard" id="monkeyshot">
          <div class="card--image-container">
            <img src={`${base}images/Monkeyshot.png`} alt="Monkeyshot" />
          </div>
          <div class="card--content">
            <h2>Agency Monkeyshot</h2>
            <p>
              In this project, I designed an improved digital experience for
              newcomers to Antwerp, in collaboration with Atlas Antwerp. The
              existing website did not meet their needs. My focus was on the
              first part of the Double Diamond: I researched the experiences,
              concerns and needs of newcomers through interviews, desk research
              and personas. Based on this, I formulated a clear problem
              statement and design opportunities, as the basis for a
              human-centered and accessible digital solution.
            </p>
            <a
              href="https://www.behance.net/gallery/214794167/Immigranten-onderzoeksopdracht"
              class="card--button"
              target="_blank"
              rel="noopener noreferrer"
            >
              View more
            </a>
          </div>
        </div>

        <!-- Card 2:Intesellar Starship -->
        <div class="card Moodboard" id="starship">
          <div class="card--image-container">
            <img src={`${base}images/Starship.png`} alt="Starship" />
          </div>
          <div class="card--content">
            <h2>Intesellar Starship</h2>
            <p>
              For this project, I designed a digital experience for a generation
              starship, a spaceship where generations live together on their way
              to an exoplanet. Within a multidisciplinary team, I worked on a
              human-centered solution for an aspect of life on board, such as
              education or mental health. I went through the second part of the
              Double Diamond and developed a physical-digital prototype, tested
              and refined with users. The result: a future-oriented concept that
              supports well-being and survival during long space voyages.
            </p>
            <a
              href="https://www.behance.net/gallery/225607289/KLM-Watch"
              class="card--button"
              target="_blank"
              rel="noopener noreferrer"
            >
              View more
            </a>
          </div>
        </div>
      </section>

      <h2 class="umwelt--title">Umwelt</h2>

      <section class="dubble-diamond">
        <div class="dubble-diamond--text" id="umwelt">
          <p>
            In my third year of the <b>Experience Design</b> course, I worked with
            the idea of the umwelt.
          </p>

          <p>
            I dived into <b> more-than-human design</b>, also called the <b
              >umwelt</b
            >. It was super interesting to <b>explore</b> this perspective, as it
            pushes you to <b>think beyond</b> what we usually know.
          </p>

          <p>
            For this assignment, I chose to focus on the <b>crow</b>. I
            <b>researched</b> everything I could about them, using a variety of methods
            to really understand their world. With this knowledge, I <b
              >designed</b
            > a more-than-human project that reflects the crow’s perspective.
          </p>

          <p>
            Interested in the full journey? Click "Take a look" to visit the
            Behance page, where the <b>complete process is documented</b> in detail.
          </p>
        </div>

        <div class="dubble-diamond--projects"></div>
      </section>

      <section class="work--carousel">
        <!-- Card 1: umwelt -->
        <div class="card brandboard">
          <div class="card--image-container">
            <img src={`${base}images/umwelt.png`} alt="umwelt" />
          </div>
          <div class="card--content">
            <h2>Umwelt</h2>
            <p>
              For this project, I explored more-than-human design, the idea that
              animals experience the world differently than we do. Humans
              constantly create inventions to make life easier for ourselves,
              but we often don’t consider the impact these have on the animals
              around us. This assignment was incredibly interesting, as it
              opened my mind to designing not just for humans, but for the world
              around us as well. For the project, I focused on the crow. After
              extensive research, I developed a more-than-human design that
              reflects its perspective.
            </p>
            <a
              href="https://www.behance.net/gallery/237192625/Umwelt-assignment"
              class="card--button"
              target="_blank"
              rel="noopener noreferrer"
            >
              View more
            </a>
          </div>
        </div>
      </section>

      <div class="strip--work">
        <div class="strip-inner--work">
          <span class="repeat">Let's work together</span>
          <span class="repeat">Let's work together</span>
          <span class="repeat">Let's work together</span>
          <span class="repeat">Let's work together</span>
          <span class="repeat">Let's work together</span>
          <span class="repeat">Let's work together</span>
          <span class="repeat">Let's work together</span>
          <span class="repeat">Let's work together</span>

          <!-- Herhaling -->
          <span class="repeat">Let's work together</span>
          <span class="repeat">Let's work together</span>
          <span class="repeat">Let's work together</span>
          <span class="repeat">Let's work together</span>
          <span class="repeat">Let's work together</span>
          <span class="repeat">Let's work together</span>
          <span class="repeat">Let's work together</span>
          <span class="repeat">Let's work together</span>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <Footer />
  </body>
</html>

<script>
  import { typingDesignPage } from "../scripts/gsap.js";
  typingDesignPage();
</script>
